
<div class="sh-container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12 text-center">
	            <div class="">
		            <form method="POST" action="{% url 'voucher:check_voucher' %}">
                            {% csrf_token %}
                            {{ form }}
                            <div>
                                <button type="submit" name="btn">Check</button>
                            </div>
                    </form>
                </div>
                <div>
                    <p>{{ discount }}</p>
                </div>
            </div>
        </div>
	    <div class="row">
            <div class="col-sm-12 text-left"> 
            </div>
         </div>
    </div>
</div>
